.header{
    background-color: rgb(255, 240, 1,1);
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 10px;
}

.input{
    background-color: white;
    border: none;
    width: 500px;
    height: 40px;
    border-radius: 2px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.input::placeholder{
    color: rgba(0, 0, 0, 0.373);
    font-size: 15px;
}

.input:focus{
    outline: none;
    
    box-shadow: #3498db 1px 1px 1px;

}

.logo{
    width: 120px;
    height: 35px;
}

.logoutButton {
    padding: 8px 16px;
    margin-left: 10px;
    background-color: #f00;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.logoutButton:hover {
    background-color: #d00;
}


.userName {
    margin-right: 15px;
    font-weight: bold;
    color: #333;
}





